/* Global style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --black1: #3C354F;
    --black2: #534C64;
    --pink: #FF42A5;
    --skyblue: #4EC5F7;
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font: 16px;
}


/* shared style */

.title-font-size {
    font-size: 3rem;
}

.font-color {
    color: var(--black2);
}

.title-font-color {
    color: var(--pink);
}

.center-content {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

button {
    margin-right: 20px 25px;
}

.btn-primary {
    border-radius: 48px;
    background: var(--pink);
    color: #fff;
    border: 0;
    padding: 21px 40px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-secondary {
    border-radius: 48px;
    background: var(--skyblue);
    color: #fff;
    border: 0;
    padding: 21px 40px;
    font-size: 1.2rem;
    cursor: pointer;

}

/* navbar styles */


.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;


}

.logo-container {
    display: flex;
    width: 50%;
    align-items: center;
}

.logo-container img {
    height: 30px;
    margin-right: 15px;
    object-fit: cover;
}

.nav-container>ul {
    display: flex;
    align-items: center;

}

.nav-container li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;


}

.nav-container li a {
    text-decoration: none;
    color: var(--black1);
}

#follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

    display: flex;
    align-items: center;
}

#follow-us>p,
#follow-us>a {
    padding: 18px 24px;
}

/* banner styles */
.banner-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

/* .banner-left-img{
    position: absolute;
    left: 0px;
    width: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
} */
.banner-left {
    /* width: 50%; */
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;

}

.banner-left p {
    text-align: left;
}

.banner-right {
    /* width: 50%; */
}

.banner-right img {
    width: auto;
    height: auto;
    object-fit: cover;
}


.banner-title {
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

.banner-goat {
    margin-top: 0px;
    font-size: 6rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-left i {
    margin-right: 10px;
}

.online-game h2,
p {
    text-align: center;
    margin-bottom: 15px;

}


.funny-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;

}

.online-game>p {
    margin-bottom: 22px;
}

.online-game-card-container {
    margin: 10px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding: 0px 20px;
    /* border: 2px solid gold; */
}

.online-game-card {
    width: calc(80%-20px);
    align-items: center;
    /* border: 2px solid rgb(51, 0, 255); */
    margin: 20px;


}
.online-game-card img{
    /* margin: 20px; */
    width: 90%;
}

.online-game-card-title {
    padding: 0px;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 auto;
    word-wrap: normal;

}

footer{
    
    background: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto; 
    padding-bottom: 100px;
}


footer > .logo-footer {

display: flex;
flex-direction: row;
align-items: center;
}
footer > .logo-footer img {
    height: 30px;
    margin-right: 15px;
    object-fit: cover;
}
footer .font-white{
    color: #fff;
}


.footer-nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}

.footer-nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;


}

.footer-nav li a {
    text-decoration: none;
    color: #FFF;
}
.social-icon > li{
    padding: 5px;
}

.footer-regular-font{
    font-size: 1rem;

}
#v1{
    font-size: 1rem;
    font-family: 400;
    color: var(--black2);
}

/* ############### Mobile responsive ############### */

@media screen and (max-width:425px) {

    .nav-container,
    .nav-container ul {
        flex-direction: column;


    }

    .logo-container img {
        height: 25px;
        margin-right: 5px;
        object-fit: cover;
    }


    .nav-container li {
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
        align-items: center;


    }

    .banner-right img {
        width: 100vw;
        margin: 0px;
    }

    .online-game-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    footer{
        padding-bottom: 130px;
    }
    .footer-nav>ul {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: space-evenly;
       
    
    }

    .footer-nav>.social-icon {
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: space-evenly;
       
    
    }
    


}




@media screen and (min-width:768px) and (max-width:1024px) {
    .banner-container {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


    }

    /* .banner-right img{
        width:95%;
        margin: 0px;
    }

    .banner-left {
        
        width:95%;
        margin: 0px;
    } */

    .online-game-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        margin: 0px 20px;
        display: grid;

        justify-content: center;
        /* padding: 20px; */
        /* border: 2px solid gold; */
    }



}