/* Global style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --black1: #3C354F;
    --black2: #534C64;
    --pink: #FF42A5;
    --skyblue: #4EC5F7;
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font: 16px;
    margin: 0px;
}


/* shared style */

.title-font-size {
    font-size: 3rem;
}

.font-color {
    color: var(--black2);
}

.title-font-color {
    color: var(--pink);
}

.center-content {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

button {
    margin-right: 20px 25px;
}

.btn-primary {
    border-radius: 48px;
    background: var(--pink);
    color: #fff;
    border: 0;
    padding: 21px 40px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-secondary {
    border-radius: 48px;
    background: var(--skyblue);
    color: #fff;
    border: 0;
    padding: 21px 40px;
    font-size: 1.2rem;
    cursor: pointer;

}

/* navbar styles */


.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;


}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    height: 30px;
    margin-right: 15px;
    object-fit: cover;
}

.nav-container>ul {
    display: flex;
    align-items: center;

}

.nav-container li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;


}

.nav-container li a {
    text-decoration: none;
    color: var(--black1);
}

#follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

    display: flex;
    align-items: center;
}

#follow-us>p,
#follow-us>a {
    padding: 18px 24px;
}

/* banner styles */
.banner-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 100%;


}

.banner-container img {
    width: 100%;
    height: auto;

}

.banner-left {
    align-items: center;
    position: relative;


}

.banner-left-content {
    position: absolute;
    left: 25%;
    padding: 20px;

}

.banner-left-content p {
    text-align: left;
}
p{
    font-size: 80%;
}



.banner-title {
    font-weight: 600;
    text-transform: uppercase;
    /* margin: 0px; */
    padding: 0px;
}

.banner-goat {
    margin-top: 0px;
    font-size: 6rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-left i {
    margin-right: 10px;
}

.online-game h2,
p {
    text-align: center;
    margin-bottom: 15px;

}


.funny-video,
.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;

}

.online-game>p {
    margin-bottom: 22px;
}

.online-game-card-container {
    margin: 10px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding: 0px 20px;
    /* border: 2px solid gold; */
    position: relative;
}

.online-game-card {
    width: calc(80%-20px);
    align-items: center;
    /* border: 2px solid rgb(51, 0, 255); */
    margin: 20px;



}

.online-game-card-container :hover .online-game-card-play {
    display: block;
}

.online-game-card-play {
    position: absolute;
    display: none;
    top: 50%;
    width: 40px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;

}

.online-game-card img {
    /* margin: 20px; */
    width: 90%;
}

.online-game-card-title {
    padding: 0px;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 auto;
    word-wrap: normal;

}

footer {

    background: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    padding-bottom: 100px;
}


footer>.logo-footer {

    display: flex;
    flex-direction: row;
    align-items: center;
}

footer>.logo-footer img {
    height: 30px;
    margin-right: 15px;
    object-fit: cover;
}

footer .font-white {
    color: #fff;
}


.footer-nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.footer-nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;


}

.footer-nav li a {
    text-decoration: none;
    color: #FFF;
}

.social-icon>li {
    padding: 5px;
}

.footer-regular-font {
    font-size: 1rem;

}

#v1 {
    font-size: 1rem;
    font-family: 400;
    color: var(--black2);
}

.play-instant {
    display: flex;
    justify-content: space-around;

    margin: 100px;
    flex-wrap: wrap;
    /* padding: 30px; */


}

.play-instant-content {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 30px;


}


.play-instant-content h2,
.play-instant-content p {
    text-align: right;

}

.play-instant-img {
    flex: 1;
    position: relative;
    padding: 30px;
}

.play-instant-img {
    position: relative;
}

.image1 {
    width: 100%;
    height: auto;
    display: block;
}

.image2 {
    position: absolute;
    bottom: -10%;
    left: -20%;
    max-width: 40%;
    /* adjust the width as needed */
    height: auto;
}

.more-game {
    display: flex;
    /* grid-template-columns: repeat(5,1.2fr); */
    /* grid-template-columns: repeat(4,1fr); */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.more-game>div {
    border-radius: 50px;
    border: 30px 20px;
    margin: 27px;
    display: flex;
    align-items: center;
    gap: 10px;


}

.more-game img {
    width: 25%;
    height: 25%
}


/* ############### Mobile responsive ############### */

@media screen and (max-width:425px) {

    .nav-container,
    .nav-container ul {
        flex-direction: column;
    }

    .logo-container img {
        height: 25px;
        margin-right: 5px;
        object-fit: cover;
    }


    .nav-container li {
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
        width: 100vw;
    }

    .banner-left img,
    .banner-right img {
        max-width: 100%;
        height: auto;

    }

    .banner-left-content {
        align-items: center;
        justify-content: center;
        left: 10%;
       
    }
 .title-font-size{
        font-size: 2rem;
    }
    .banner-goat{
        font-size: 4rem;
    }


    .online-game-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .play-instant {
        flex-direction: column;
        margin: auto;


    }

    .play-instant-content {

        padding: 15px;
        margin: 0 auto;

    }

    .play-instant-img {
        width: 70%;
        left: 20%;
        margin-bottom: 10%;
    }

    .more-game {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-content: center;

    }

    .more-game div {
        margin: auto;
        /* border: 2px solid green; */
        margin: 2px;
    }
    
    .more-game img {
        width: 25%;
        height: auto;
    }

    .btn-primary, .btn-secondary{
        border-radius: 22px;      
        padding: 11px 22px;
        font-size: 1rem;
        
    }



    footer {
        padding-bottom: 130px;
    }

    .footer-nav>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-evenly;


    }

    .footer-nav>.social-icon {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-evenly;


    }



}




@media screen and (min-width:768px) and (max-width:1024px) {
    .banner-container {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


    }

    /* .banner-right img{
        width:95%;
        margin: 0px;
    }

    .banner-left {
        
        width:95%;
        margin: 0px;
    } */

    .play-instant {
        flex-direction: column;
    }

    .online-game-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        margin: 0px 20px;
        display: grid;

        justify-content: center;
        /* padding: 20px; */
        /* border: 2px solid gold; */
    }



}