/* Global style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --black1: #3C354F;
    --black2: #534C64;
    --pink:#FF42A5;
    --skyblue:#4EC5F7;
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


/* shared style */

.title-font-size {
    font-size: 3rem;
}

.title-font-color {
    color: var(--pink);
}

.center-content {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

button{
    margin-right: 25px;
}
.btn-primary {
    border-radius: 48px;
    background: var(--pink);
    color: #fff;
    border: 0;
    padding: 21px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-flex;
    gap: 20px;
}

.btn-secondary {
    border-radius: 48px;
    background: var(--skyblue);
    color: #fff;
    border: 0;
    padding: 21px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-flex;
    gap: 20px;
}

/* navbar styles */


.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;


}

.logo-container {
    display: flex;
    width: 50%;
    align-items: center;
}

.logo-container img {
    height: 30px;
    margin-right: 15px;
    object-fit: cover;
}

.nav-container>ul {
    display: flex;
    align-items: center;

}

.nav-container li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;


}

.nav-container li a {
    text-decoration: none;
    color: var(--black1);
}

#follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

    display: flex;
    align-items: center;
}

#follow-us>p,
#follow-us>a {
    padding: 18px 24px;
}

/* banner styles */
.banner-container {
    display: flex;
    justify-content: space-around;
    
   
    padding: 10px;
    
}

.banner-left{
width: 50%;
margin: 0 auto;
align-self: center;
padding: 1opx;

}
.banner-right{
width: 50%;
}

.banner-right img{
    width: auto;
    height: 100%;
    object-fit:cover;
}


.banner-title {
    font-weight: 600;
    text-transform: uppercase;
        margin: 0px;
    padding: 0px;
}

.banner-goat {
    margin-top: 0px;
    font-size: 6rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-left i{
    margin-right: 10px;
}




/* ############### Mobile responsive ############### */

@media screen and (max-width:425px) {

    .nav-container,
    .nav-container ul {
        flex-direction: column;


    }

    .logo-container img {
        height: 25px;
        margin-right: 5px;
        object-fit: cover;
    }


    .nav-container li {
        margin-top: 30px;
    }


}